[
{
    "model": "webmap.map",
    "fields": {
        "created_by": [
            "admin"
        ],
        "created_date": "2019-03-14T09:25:05.960Z",
        "changed_by": [
            "admin"
        ],
        "changed_date": "2020-05-08T15:26:06.624Z",
        "name": "Nepal Hazard data",
        "slug": "nepal-hazard-data",
        "order": 1,
        "project": [
            "nepal_hazard"
        ],
        "bounds": "",
        "limit_to_extent": false,
        "center": "28.39523,84.13204",
        "zoom_default": 8,
        "zoom_min": 2,
        "zoom_max": 15,
        "zoom_control": true,
        "scale": true,
        "geolocator": true,
        "measures": true,
        "legend_font_size": 10,
        "snipping_tool": false,
        "printable": false,
        "sidebar": "show",
        "published": true,
        "auto_thumbnail": true,
        "custom_legend": "",
        "description": "",
        "notes": "",
        "custom_html": "",
        "thumbnail": "thumbs/nepal-hazard-data.png",
        "logo": [
            "openquake"
        ],
        "watermark": [
            "gem-white"
        ],
        "tags": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@.model is 'mapserver.projectmetadata'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": "2019-03-13",
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard curves'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": null,
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - UHS PoE 0.01'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": null,
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - UHS PoE 0.02'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": null,
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard map (mean)'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": null,
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "portal.metadata",
    "fields": {
        "uuid": "OBJECTSLT:str:$.*[@    .model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard map (max)'][0].fields.metadata_ptr[0]",
        "abstract": "",
        "citation": "",
        "edition": "",
        "purpose": "",
        "restrictions": "",
        "legal": "",
        "temporal_extent_from": null,
        "temporal_extent_to": null,
        "coverage": "",
        "license": null,
        "publication_date": null,
        "contact": null,
        "doi": "",
        "xml": "",
        "categories": [],
        "contributors": []
    }
},
{
    "model": "mapserver.projectmetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@.model is 'mapserver.projectmetadata'][0].fields.metadata_ptr[0]"
        ],
        "project": [
            "nepal_hazard"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.layermetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard curves'][0].fields.metadata_ptr[0]"
        ],
        "layer": [
            "nepal_hazard - Hazard curves"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.layermetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - UHS PoE 0.01'][0].fields.metadata_ptr[0]"
        ],
        "layer": [
            "nepal_hazard - UHS PoE 0.01"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.layermetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - UHS PoE 0.02'][0].fields.metadata_ptr[0]"
        ],
        "layer": [
            "nepal_hazard - UHS PoE 0.02"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.layermetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@.model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard map (mean)'][0].fields.metadata_ptr[0]"
        ],
        "layer": [
            "nepal_hazard - Hazard map (mean)"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.layermetadata",
    "fields": {
        "metadata_ptr": [
            "OBJECTSLT:str:$.*[@    .model is 'webmap.layermetadata' and @.fields.layer[0] is 'nepal_hazard - Hazard map (max)'][0].fields.metadata_ptr[0]"
        ],
        "layer": [
            "nepal_hazard - Hazard map (max)"
        ],
        "categories": [],
        "contributors": []
    }
},
{
    "model": "webmap.maplayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "nepal_hazard - UHS PoE 0.02"
        ],
        "order": 3,
        "enabled": false,
        "in_selector": true,
        "in_legend": false,
        "in_thumbnail": false,
        "interactivity_type": [
            "OpenQuake Hazard data"
        ],
        "group": "Hazard curves and UHS",
        "excl_group": 1
    }
},
{
    "model": "webmap.maplayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "nepal_hazard - Hazard map (max)"
        ],
        "order": 5,
        "enabled": false,
        "in_selector": true,
        "in_legend": true,
        "in_thumbnail": false,
        "interactivity_type": [
            "OpenQuake Hazard data"
        ],
        "group": "Hazard maps",
        "excl_group": 2
    }
},
{
    "model": "webmap.maplayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "nepal_hazard - Hazard map (mean)"
        ],
        "order": 4,
        "enabled": true,
        "in_selector": true,
        "in_legend": true,
        "in_thumbnail": true,
        "interactivity_type": [
            "OpenQuake Hazard data"
        ],
        "group": "Hazard maps",
        "excl_group": 2
    }
},
{
    "model": "webmap.maplayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "nepal_hazard - UHS PoE 0.01"
        ],
        "order": 2,
        "enabled": false,
        "in_selector": true,
        "in_legend": false,
        "in_thumbnail": false,
        "interactivity_type": [
            "OpenQuake Hazard data"
        ],
        "group": "Hazard curves and UHS",
        "excl_group": 1
    }
},
{
    "model": "webmap.maplayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "nepal_hazard - Hazard curves"
        ],
        "order": 1,
        "enabled": true,
        "in_selector": true,
        "in_legend": false,
        "in_thumbnail": false,
        "interactivity_type": [
            "OpenQuake Hazard data"
        ],
        "group": "Hazard curves and UHS",
        "excl_group": 1
    }
},
{
    "model": "webmap.mapbaselayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "Stamen Terrain"
        ],
        "order": 1
    }
},
{
    "model": "webmap.mapbaselayer",
    "fields": {
        "map": [
            "nepal-hazard-data"
        ],
        "layer": [
            "OpenStreetMap"
        ],
        "order": 2
    }
}
]
